# Mac
.DS_Store

#Java
*.class

# XCode
*.moved-aside
build/*
*.xcworkspace
*.mode1v3
*.mode2v3
*.pbxuser
!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*

#Cocoa pods
*.old
Pods/*

#cocos2d-x
libs/
bin/
obj/
assets/
gen/
out/
proj.win32/Debug.win32/
.classpath
.project

#VS
.tlog
.pdb

# backup files
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz
Slei/Hazelnut/proj.win32/Hazelnut.opensdf
Slei/Hazelnut/proj.win32/Hazelnut.sdf
Slei/Hazelnut/proj.win32/Hazelnut.vcxproj
Slei/Hazelnut/proj.win32/Hazelnut.vcxproj.filters
Slei/Hazelnut/proj.win32/Hazelnut.v12.suo
Slei/Hazelnut/proj.win32/Debug.win32/AI.obj
Slei/Hazelnut/proj.win32/Debug.win32/AIDropObject.obj
Slei/Hazelnut/proj.win32/Debug.win32/AdmobHelper.obj
Slei/Hazelnut/proj.win32/Debug.win32/AppDelegate.obj
Slei/Hazelnut/proj.win32/Debug.win32/Apple2.png
Slei/Hazelnut/proj.win32/Debug.win32/CocosGUI.obj
Slei/Hazelnut/proj.win32/Debug.win32/CollisionBox.obj
Slei/Hazelnut/proj.win32/Debug.win32/EditBoxTemplate.png
Slei/Hazelnut/proj.win32/Debug.win32/FPopup.obj
Slei/Hazelnut/proj.win32/Debug.win32/FStateMachine.obj
Slei/Hazelnut/proj.win32/Debug.win32/FUtil.obj
Slei/Hazelnut/proj.win32/Debug.win32/FileOperation.obj
Slei/Hazelnut/proj.win32/Debug.win32/FrameworkScene.obj
Slei/Hazelnut/proj.win32/Debug.win32/FrameworkTimer.obj
Slei/Hazelnut/proj.win32/Debug.win32/GamePausePopup.obj
Slei/Hazelnut/proj.win32/Debug.win32/GamePopup.obj
Slei/Hazelnut/proj.win32/Debug.win32/GamePopupBackground.png
Slei/Hazelnut/proj.win32/Debug.win32/GameUtil.obj
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.exe
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.exp
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.ilk
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.lib
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.log
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.pdb
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/CL.read.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/CL.write.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/Hazelnut.lastbuildstate
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/Hazelnut.write.1u.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/cl.command.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/link.command.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/link.read.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/link.write.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/rc.command.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/rc.read.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut.tlog/rc.write.1.tlog
Slei/Hazelnut/proj.win32/Debug.win32/Hazelnut2.png
Slei/Hazelnut/proj.win32/Debug.win32/Heart.png
Slei/Hazelnut/proj.win32/Debug.win32/HighscoreScene.obj
Slei/Hazelnut/proj.win32/Debug.win32/InGameController.obj
Slei/Hazelnut/proj.win32/Debug.win32/InGameScene.obj
Slei/Hazelnut/proj.win32/Debug.win32/Korb.png
Slei/Hazelnut/proj.win32/Debug.win32/LevelSystem.obj
Slei/Hazelnut/proj.win32/Debug.win32/Loader.obj
Slei/Hazelnut/proj.win32/Debug.win32/MID/Apple2.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/EditBoxTemplate.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/GamePopupBackground.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Hazelnut2.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Heart.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Korb.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Map1.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Map1_extension.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButton.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonAbout.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonBack.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonExit.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonHelp.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonHighscore.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonRegister.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonRetry.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonSoundOff.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonSoundOn.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonStart.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/MenuButtonTutorial.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/PopupButtonQuit.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/PopupButtonResume.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Tutorial_tap_here_left.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Tutorial_tap_here_right.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/Waste2.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/btnLeft.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/btnRight.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/coin.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/frame.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/highscore.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/squirrel.png
Slei/Hazelnut/proj.win32/Debug.win32/Map1.png
Slei/Hazelnut/proj.win32/Debug.win32/Map1_extension.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButton.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonAbout.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonBack.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonExit.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonHelp.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonHighscore.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonRegister.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonRetry.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonSoundOff.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonSoundOn.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonStart.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuButtonTutorial.png
Slei/Hazelnut/proj.win32/Debug.win32/MenuPopup.obj
Slei/Hazelnut/proj.win32/Debug.win32/MenuScene.obj
Slei/Hazelnut/proj.win32/Debug.win32/OpenAL32.dll
Slei/Hazelnut/proj.win32/Debug.win32/OpenAL32.lib
Slei/Hazelnut/proj.win32/Debug.win32/PopupButtonQuit.png
Slei/Hazelnut/proj.win32/Debug.win32/PopupButtonResume.png
Slei/Hazelnut/proj.win32/Debug.win32/SpecialSprite.obj
Slei/Hazelnut/proj.win32/Debug.win32/TextFieldExtended.obj
Slei/Hazelnut/proj.win32/Debug.win32/Thumbs.db
Slei/Hazelnut/proj.win32/Debug.win32/TutorialPopup.obj
Slei/Hazelnut/proj.win32/Debug.win32/TutorialScene.obj
Slei/Hazelnut/proj.win32/Debug.win32/Tutorial_tap_here_left.png
Slei/Hazelnut/proj.win32/Debug.win32/Tutorial_tap_here_right.png
Slei/Hazelnut/proj.win32/Debug.win32/Waste2.png
Slei/Hazelnut/proj.win32/Debug.win32/btnLeft.png
Slei/Hazelnut/proj.win32/Debug.win32/btnRight.png
Slei/Hazelnut/proj.win32/Debug.win32/coin.png
Slei/Hazelnut/proj.win32/Debug.win32/fonts/1001fonts-qarmic-sans-eula.txt
Slei/Hazelnut/proj.win32/Debug.win32/fonts/Qarmic sans Abridged.ttf
Slei/Hazelnut/proj.win32/Debug.win32/frame.png
Slei/Hazelnut/proj.win32/Debug.win32/freetype250.lib
Slei/Hazelnut/proj.win32/Debug.win32/game.res
Slei/Hazelnut/proj.win32/Debug.win32/glew32.dll
Slei/Hazelnut/proj.win32/Debug.win32/glew32.lib
Slei/Hazelnut/proj.win32/Debug.win32/glfw3.lib
Slei/Hazelnut/proj.win32/Debug.win32/highscore.png
Slei/Hazelnut/proj.win32/Debug.win32/iconv.dll
Slei/Hazelnut/proj.win32/Debug.win32/libSpine.lib
Slei/Hazelnut/proj.win32/Debug.win32/libbox2d.lib
Slei/Hazelnut/proj.win32/Debug.win32/libchipmunk.lib
Slei/Hazelnut/proj.win32/Debug.win32/libcocos2d.dll
Slei/Hazelnut/proj.win32/Debug.win32/libcocos2d.exp
Slei/Hazelnut/proj.win32/Debug.win32/libcocos2d.lib
Slei/Hazelnut/proj.win32/Debug.win32/libcocos2d.pdb
Slei/Hazelnut/proj.win32/Debug.win32/libcurl.dll
Slei/Hazelnut/proj.win32/Debug.win32/libcurl_imp.lib
Slei/Hazelnut/proj.win32/Debug.win32/libeay32.dll
Slei/Hazelnut/proj.win32/Debug.win32/libiconv.lib
Slei/Hazelnut/proj.win32/Debug.win32/libjpeg.lib
Slei/Hazelnut/proj.win32/Debug.win32/libmpg123.dll
Slei/Hazelnut/proj.win32/Debug.win32/libmpg123.lib
Slei/Hazelnut/proj.win32/Debug.win32/libogg.dll
Slei/Hazelnut/proj.win32/Debug.win32/libogg.lib
Slei/Hazelnut/proj.win32/Debug.win32/libpng.lib
Slei/Hazelnut/proj.win32/Debug.win32/libtiff.dll
Slei/Hazelnut/proj.win32/Debug.win32/libtiff.lib
Slei/Hazelnut/proj.win32/Debug.win32/libvorbis.dll
Slei/Hazelnut/proj.win32/Debug.win32/libvorbis.lib
Slei/Hazelnut/proj.win32/Debug.win32/libvorbisfile.dll
Slei/Hazelnut/proj.win32/Debug.win32/libvorbisfile.lib
Slei/Hazelnut/proj.win32/Debug.win32/libwebp.lib
Slei/Hazelnut/proj.win32/Debug.win32/libzlib.lib
Slei/Hazelnut/proj.win32/Debug.win32/main.obj
Slei/Hazelnut/proj.win32/Debug.win32/res/.gitkeep
Slei/Hazelnut/proj.win32/Debug.win32/sound/music_generic.m4a
Slei/Hazelnut/proj.win32/Debug.win32/sound/sound_apple.m4a
Slei/Hazelnut/proj.win32/Debug.win32/sound/sound_button.m4a
Slei/Hazelnut/proj.win32/Debug.win32/sound/sound_coin.m4a
Slei/Hazelnut/proj.win32/Debug.win32/sound/sound_hazelnut.m4a
Slei/Hazelnut/proj.win32/Debug.win32/sound/sound_level_up.m4a
Slei/Hazelnut/proj.win32/Debug.win32/sound/sound_waste.m4a
Slei/Hazelnut/proj.win32/Debug.win32/sqlite3.dll
Slei/Hazelnut/proj.win32/Debug.win32/sqlite3.lib
Slei/Hazelnut/proj.win32/Debug.win32/squirrel.png
Slei/Hazelnut/proj.win32/Debug.win32/ssleay32.dll
Slei/Hazelnut/proj.win32/Debug.win32/vc120.idb
Slei/Hazelnut/proj.win32/Debug.win32/vc120.pdb
Slei/Hazelnut/proj.win32/Debug.win32/websockets.dll
Slei/Hazelnut/proj.win32/Debug.win32/websockets.lib
Slei/Hazelnut/proj.win32/Debug.win32/zlib1.dll
Slei/Hazelnut/proj.win32/Debug.win32/MID/squirrel_v1.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/squirrel_v2.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/squirrel_v3.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/tap_left.png
Slei/Hazelnut/proj.win32/Debug.win32/MID/tap_right.png
Slei/Hazelnut/proj.win32/Debug.win32/squirrel_v1.png
Slei/Hazelnut/proj.win32/Debug.win32/squirrel_v2.png
Slei/Hazelnut/proj.win32/Debug.win32/squirrel_v3.png
Slei/Hazelnut/proj.win32/Debug.win32/tap_left.png
Slei/Hazelnut/proj.win32/Debug.win32/tap_right.png
Slei/png/MID/Thumbs.db
Slei/png/Thumbs.db
*.db
Slei/Hazelnut/proj.win32/Debug.win32/
